*{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    /* background-image: linear-gradient(to right, rgb(247, 105, 105), rgb(216, 54, 244)); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../img/bgMain.jpg);
    background-size: cover;
    color: white;
}


nav{
    background-color: white;
    color: black;
    display: flex;
    position:fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    /* border: 2px solid red; */
}

nav h1{
    margin-left: 3rem;
}
nav ul{
    margin-right: 3rem;
}
nav ul li {
    text-decoration: none;
    color: black;
    
    /* border: 2px solid green */
}

li a{
    text-decoration: none;
    color: black;
}
nav ul li:hover {
    cursor: pointer;
}

main{
    margin: 7rem 0 0 0;
}

#container{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    /* border: 2px solid red; */
}
#container img{
    border-radius: 1rem;
    box-shadow: 5px 5px 4rem rgb(112, 109, 109);
}

#alexa h2{
    font-size: 5rem;
    margin: 0;
    margin-bottom: 1rem;
}

#container #alexa{ 
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    /* justify-content: center; */
}
.text{
    color: black;
    font-size: 1.4rem;
    font-weight: bolder;
}
article{
    margin-bottom: 3rem;
}

article section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

article section h1{
    color: black;
}

.text.about-text{
    padding: 0 4rem 0 4rem;
    text-align: start;

}
section h1{
    font-size: 3rem;
}

.contact form{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    width: 40%;
}
.contact form label{
    margin-bottom: 1rem;
}

.contact form input{
    margin-bottom: 1.6rem;
    border-radius: 0.8rem;
    border: 2px solid white;
    height: 2rem;
    font-size:1.2rem;
}
.contact form textarea{
    border-radius: 0.8rem;
    border: 2px solid white;
    height: 10rem;
    font-size:1.2rem;
}

footer{
    background-color: white;
    color: black;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
    /* border: 2px solid red; */
}